* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
.openClose {
  background-color: cornflowerblue;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 8px;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.openClose ion-icon {
  position: absolute;
  color: #fff;
  font-size: 3em;
}
.openClose.changeColor {
  background-color: rgb(255, 0, 149);
}
.openClose .open,
.openClose.changeColor .close {
  display: block;
}
.openClose .close,
.openClose.changeColor .open {
  display: none;
}
ul.container {
  background-color: cornflowerblue;
  position: absolute;
  top: 20px;
  left: 20px;
  bottom: 20px;
  width: calc(60px + 1.5em);
  border-radius: 15px;
  padding: 40px 0 0 20px;
  overflow-x: hidden;
  transition: .5s;
}
ul.container.containerWidth {
  width: 300px;
}
ul.container li {
  height: 50px;
}
ul.container li a {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 30px 0 0 30px;
  padding-left: 10px;
}
ul.container li a:hover .icon,
ul.container li a:hover .title {
  color: #000;
}
ul.container li a.active {
  background-color: #fff;
}
ul.container li a.active .icon,
ul.container li a.active .title {
  color: #000;
}
ul.container li a.active b:nth-child(1)::before,
ul.container li a.active b:nth-child(1)::after,
ul.container li a.active b:nth-child(2)::before,
ul.container li a.active b:nth-child(2)::after {
  display: block;
}
ul.container li a b:nth-child(1)::before {
  content: '';
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 15px;
  top: -15px;
  left: 0;
  display: none;
}
ul.container li a b:nth-child(1)::after {
  content: '';
  position: absolute;
  background-color: cornflowerblue;
  width: 100%;
  height: 15px;
  top: -15px;
  left: 0;
  border-radius: 0 0 15px 0;
  display: none;
}
ul.container li a b:nth-child(2)::before {
  content: '';
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 15px;
  bottom: -15px;
  left: 0;
  display: none;
}
ul.container li a b:nth-child(2)::after {
  content: '';
  position: absolute;
  background-color: cornflowerblue;
  width: 100%;
  height: 15px;
  bottom: -15px;
  left: 0;
  border-radius: 0 15px 0 0;
  display: none;
}
ul.container li a .icon {
  color: #fff;
  display: flex;
  font-size: 1.5em;
  margin-right: 30px;
  user-select: none;
  z-index: 99;
}
ul.container li a .title {
  height: 0;
  display: flex;
  align-items: center;
  font-weight: 600;
  color: #fff;
  user-select: none;
  z-index: 99;
}



@media only screen and (max-width:420px) {
  ul.container {
    top: 80px;
  }
  ul.container.containerWidth {
    width: 80%;
  }
}